 <div class="sidebar-inner c-overflow">    
    <div class="profile-menu">
        <a href="" toggle-submenu>
            <div class="profile-pic">
                <img ng-src="{{ profilePicture }}" alt="">
            </div>

            <div class="profile-info">
                {{ fullname }}

                <!-- <i class="zmdi zmdi-caret-down"></i> -->
            </div>
        </a>

        <ul class="main-menu">
            <li>
                <a data-ui-sref="pages.profile.profile-about" data-ng-click="mactrl.sidebarStat($event)"><i class="zmdi zmdi-account"></i> View Profile</a>
            </li>
            <li>
                <a href=""><i class="zmdi zmdi-input-antenna"></i> Privacy Settings</a>
            </li>
            <li>
                <a href=""><i class="zmdi zmdi-settings"></i> Settings</a>
            </li>
            <li>
                <a href=""><i class="zmdi zmdi-time-restore"></i> Logout</a>
            </li>
        </ul>
    </div>

    <ul class="main-menu">
        <li data-ui-sref-active="active">
            <a href="{{ language }}/dashboard"><i class="zmdi zmdi-home"></i> Home</a>
        </li>
     
        <li>
            <a href="{{ language }}/incident"><i class="zmdi zmdi-widgets"></i> Requests</a>
        </li>
        
        <li>
            <a href="{{ language }}/document"><i class="zmdi zmdi zmdi-view-list"></i> Documents</a>
        </li>
        
       
    </ul>
</div>
