<!-- <div class="ui right aligned text menu">
  <a href="/" class="left aligned header item">
    <img class="logo" ng-src="assets/images/{{ brand.logo }}" alt="{{ brand.name }} Logo">
    <span ng-bind="'Worksheets' | localize"></span>
  </a>
  <a class="item" href="" ng-click="resetQuote()"><i class="plus icon"></i> {{ 'New Worksheet' | localize }}</a>
  <a class="item" href="{{ language }}/search"><i class="search icon"></i> {{ 'Search' | localize }}</a>
  <a href="{{ language }}/event" class="item"><i class="search icon"></i> {{ 'Events' | localize:'upper' }}</a>
  <a href="{{ language }}/document" class="item"><i class="search icon"></i> {{ 'Documents' | localize:'upper' }}</a>

  <a href="" ng-click="toggleLanguage()" class="item"><i class="exchange icon"></i> {{ language === 'en' ? 'French' : 'English' | localize }}</a>
  <a class="item" requires-auth="Admin" no-auth="hide" href="{{ brand.rootUrl }}/{{ brand.adminPath }}"><i class="setting icon"></i> {{ 'Admin' | localize }}</a>
  <a href="#" class="ui simple dropdown item" requires-auth="Admin" no-auth="hide" ng-if="showDataTargetDropdown()">
    Data <i class="dropdown icon"></i>
    <div class="menu">
      <div class="item" ng-class="{ active: currentTarget() === 'live' }" ng-click="setDataTarget('live')">Live</div>
      <div class="item" ng-class="{ active: currentTarget() === 'preview' }" ng-click="setDataTarget('preview')">Preview</div>
      <div class="item" ng-class="{ active: currentTarget() === 'staging' }" ng-click="setDataTarget('staging')">Staging</div>
    </div>
  </a>
  <a class="item" href="{{ brand.rootUrl }}/logout"><i class="sign out icon"></i> {{ 'Logout' | localize }}</a>
</div> -->